<%= form_with model: [commentable, Comment.new] do |f| %>
  <%= f.text_area :content, required: true %>
  <div class="actions">
    <%= f.submit "コメントをする", class: 'btn btn-warning px-5' %>
  </div>
<% end %>